/* imports */
@import url("https://fonts.googleapis.com/css2?family=Share+Tech&display=swap");

/* resets */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--primary);
}

/* fonts */
@font-face {
  font-family: "Krisha";
  src: url(./assets/fonts/Krisha-Regular.otf);
}

/* variables */
:root {
  --primary: #000000;
}

/* base style */
header nav > *,
p {
  font-family: "Share Tech";
  font-style: normal;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 20px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: var(--primary);
}

main h2 {
  font-family: "Krisha";
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--primary);
}

img {
  max-width: 100%;
}

.flex {
  display: flex;
  gap: 0.5rem;
}

/* mobile style */
